
<div class="surface-ground px-4 py-8 md:px-6 lg:px-8 mt-5">
    <div class="text-900 font-bold text-3xl mb-4 mt-5 text-center">Est ce que l'alimentation est gravitaire
        ou par pompage?</div>
    <div class="grid">
        <div class="col-6 p-3 h-full">
            <div class=" p-3 h-full flex flex-column" style="border-radius: 6px">
                <button pButton pRipple label="Gravitaire" class="p-3 mt-auto ml-auto"
                        style="width: 50%;" (click)="onSelectGravitaire()"></button>
            </div>
        </div>
        <div class="col-6 p-3 h-full">
            <div class=" p-3 h-full flex flex-column" style="border-radius: 6px">
                <button pButton pRipple label="Pompage" class="p-3 mt-auto mr-auto"
                        style="width: 50%;" (click)="onSelectPompage()"></button>
            </div>
        </div>
    </div>
</div>
