
<!--<div class="grid grid-nogutter h-full">-->
<!--    <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">-->
<!--        <section>-->
<!--            <span class="block text-6xl font-bold mb-1">Bienvenue</span>-->
<!--            <div class="text-2xl text-primary font-bold mb-3">à JESA wastewater treatment app</div>-->

<!--            <button pButton pRipple label="Learn More" type="button" (click)="goToCalculDetaille()" class="mr-3 p-button-raised"></button>-->
<!--            <button pButton pRipple label="Live Demo" type="button" (click)="goToMinimumDonnees()" class="p-button-outlined"></button>-->
<!--        </section>-->
<!--    </div>-->
<!--    <div class="col-12 md:col-6 overflow-hidden">-->
<!--        <img src="assets/images/blocks/welcome1.jpg" alt="Image" class="md:ml-auto block " style="">-->
<!--    </div>-->

<!--</div>-->
<div class="grid" >
    <div class="p-0">
        <div class="grid " style="margin-top: 15vh;">
            <div class="col-7 grid p-fluid p-5">
                <div class="col-12 p-6 text-center md:text-left flex align-items-center ">
                <section>
                    <span class="block text-6xl font-bold mb-1">Bienvenue</span>
                    <div class="text-2xl text-primary font-bold mb-3">à JESA wastewater treatment app</div>
                    <p class="mt-0 mb-4 text-700 line-height-3">veuillez choisir le type qui vous convient.</p>
                    <div class="grid">
                        <div class="col-6">
                            <button pButton pRipple icon="pi pi-external-link " label="Calcul Detaille" type="button" (click)="goToCalculDetaille()" class="mr-3 p-button-raised"></button>
                        </div>
                        <div class="col-6">
                            <button pButton pRipple icon="pi pi-external-link " label="Minimum De Donnees" type="button" (click)="goToMinimumDonnees()" class="p-button-outlined"></button>
                        </div>
                    </div>
                </section>
                </div>
            </div>
            <div class="col-5">
                <img src="assets/images/blocks/welcome1.jpg" style="width:100%; border-radius: 8px !important;">
            </div>
        </div>

    </div>
</div>

<!--<div class="grid p-fluid felx pi-align-center">-->
<!--    <div class="colo-9">-->
<!--        <span class="text-2xl text-primary font-bold mb-3">Bienvenue</span>-->
<!--        <div class="text-2xl text-primary font-bold mb-3">à JESA wastewater treatment app</div>-->
<!--    </div>-->
<!--    <div class="col-3">-->
<!--        <img src="assets/images/blocks/welcome1.jpg" style="widht:100%" alt="Image"  >-->
<!--    </div>-->
<!--</div>-->


<!--<div class="grid grid-nogutter surface-section text-800">-->
<!--    <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">-->
<!--        <section>-->
<!--            <span class="block text-6xl font-bold mb-1">Create the screens</span>-->
<!--            <div class="text-6xl text-primary font-bold mb-3">your visitors deserve to see</div>-->
<!--            <p class="mt-0 mb-4 text-700 line-height-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>-->

<!--            <button pButton pRipple label="Learn More" type="button" class="mr-3 p-button-raised"></button>-->
<!--            <button pButton pRipple label="Live Demo" type="button" class="p-button-outlined"></button>-->
<!--        </section>-->
<!--    </div>-->
<!--    <div class="col-12 md:col-6 overflow-hidden">-->
<!--        <img src="assets/images/blocks/hero-1.png" alt="Image" class="md:ml-auto block md:h-full" style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">-->
<!--    </div>-->
<!--</div>-->
